.textbox-base {
	height: 36px;
	background-color: white;
	border: 1px solid #ccc;
	outline: none;
	padding: 8px;

	&:focus {
		outline: 1px #00eeee solid;
	}
}

.decorated-textbox {
	&.container {
		height: 36px;
		background-color: white;
		outline: none;
		border: 1px solid #ccc;

		&.focused {
			border: 1px #00eeee solid;
			outline: none;
		}
	}

	.input {
		padding: 8px;
		border: none;
		height: 100%;
		width: 100%;

		&:focus {
			border: none;
			outline: none;
		}
	}

	.leftIcon {
		// border-right: 1px solid #ccc;
		height: 100%;
	}

	.rightIcon {
		// border-left: 1px solid #ccc;
		height: 100%;
	}
}