
.container {
  display: flex;
  align-items: stretch;

  // Use this by default until we port containers 
  // to not have a default width
  &.full {
  	width: 100%;
  	height: 100%;
  }

  &.vertical {
  	flex-direction: column;
  }
  
  &.center {
  	justify-content: center;
  }

  &.space-between {
  	justify-content: space-between;
  }

  &.relative {
  	position: relative;
  }

  &.absolute {
  	position: absolute;
  }
}

.section {
	height: 100%;
	flex-grow: 1;

	.set {
		flex: 1;
		overflow-x: hidden;
	}

	.fixed {

	}
}

.vertical-section {
	width: 100%;
	flex-grow: 1;

	&.fixed {
		flex-grow: 0;
	}
}

